/* ----------------------------------------------------start main class */
/* fonts */
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.syne--black-regular {
    font-family: "Syne", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ****** */
*:focus,
section *:active {
    outline: none !important;
    box-shadow: none !important;
}

* {
    align-items: center;
    transition: all 0.3s ease-in-out;
}

/* progress bar */
.progres {
    height: 0.5rem;
    background-color: #F2F2F2;
}

.progres-bar {
    height: 0.5rem;
    background-color: #D9D9D9;
    top: 0;
}

/* accordian  */
/* accordian svg (^) */
.accordion-item button::after {
    opacity: 0 !important;
}

.accordion-item {
    margin: 1rem 0;
}

#accordionExample {
    font-family: "Syne", sans-serif;
}

.accordion-button {
    background-color: #EAEAEA;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    color: #000 !important;
    padding: 25px 40px;
}

a:-webkit-any-link {
    text-decoration: none;
}

/* - */
/* -------start underline animations */
/* ------------- that works but it is stu*/
/* .content {
    justify-content: center;
    list-style: none;
}
.content__item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.link {
    cursor: pointer;
    position: relative;
}
.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}
.link::before {
    content: '';
}
.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}
.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}
.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
} */

/* ------------- that works*/
.textline:hover {
    background-size: 100% 1px;
    text-decoration: none;
    cursor: pointer;
}

.textline {
    position: relative;
    display: inline;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .5s;
}

/* ------------- */
/* -------end underline animations */
/* - */


/* other class */
#Quality-Services,
#Timeline {
    font-family: "Syne", sans-serif;
}

span.withLineDiv {
    padding-bottom: 10px !important;
    padding-left: 4rem;
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    display: flex;
    position: relative;
    align-items: center;
    color: #868a9b;
    line-height: 27px;
}

span.withLineDiv::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 1px;
    background-color: #868a9b;
    left: 0;
}

.section-padding {
    padding: 143px 0;
}

#skills,
#carouselSec,
#Feedback,
#Contact,
#Quality-Services .my-card,
#Timeline .contaent {
    background-color: #F7F7F7;
}

.head-sec {
    padding-bottom: 46px !important;
}

.head-sec h2 {
    line-height: 46px;
    color: #000;
    font-size: 35px;
    font-weight: 700;
    font-family: "Syne", sans-serif;
}

#Feedback,
#Blog {
    font-family: "Syne", sans-serif;
}

.accordion-button:not(.collapsed) {
    background-color: #EAEAEA !important;
}

/* ----------------------------------------------------end main class */
/* -- */
/* -- */
/* ----------------------------------------------------start navbar  */
header {
    transition: background-color 0.3s ease;
    z-index: 9;
}

.brandd-home img {
    width: 120px !important;

}

nav ul a {
    line-height: 24px !important;
    color: #868a9b !important;
    font-family: "Syne", sans-serif;
}

button div {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: black;
    align-self: center;
    /* transform: rotateZ(45deg); */
}

button div::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: rgb(16, 221, 211);
    top: -0.8rem;
    left: 0;
    margin: 5px 0;
    z-index: -2;
    /* display: none; */

}

button div::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: rgb(231, 17, 17);
    top: 0.5rem;
    /* top: 0.5rem; */
    left: 0;
    z-index: -2;
    /* transform: rotateZ(-90deg); */
}

.navbar-nav .nav-link.active {
    color: #000 !important;
}

.navbar-nav li:hover a {
    color: #000 !important;
}

nav {
    padding: 20px 0 !important;
    margin: 0 !important;

}

header .row>* {
    flex-shrink: unset !important;

}

/* ----------------------------------------------------end navbar  */
/* -- */
/* -- */
/* ----------------------------------------------------start section 1 photo and h1 */
h1 {
    color: transparent !important;
    -webkit-text-stroke: 1px #000;
}

#home p.h1,
h1 {
    font-weight: 800;
    font-size: 75px;
    line-height: 83px;
    color: #000;
    text-transform: uppercase;
    font-family: "Archivo Black", sans-serif;
}

#home p.h1 {
    margin-left: 3.4rem;
}

#home span.withbefor::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, .15);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
}

#home div.jobspans {
    background-color: #F5F5F5;
    font-family: "Syne", sans-serif;
    padding: 15px 40px;
}

#home div.jobspans span {
    color: rgb(134, 138, 155);
    line-height: 27px;
    padding-right: 15px;
    margin-right: 10px;

}

/* ----------------------------------------------------end section 1 photo and h1 */
/* -- */
/* -- */
/* ----------------------------------------------------start section 2 words and acordion */

#skills .left-skills {
    line-height: 27px;
    font-family: "Syne", sans-serif;
    color: rgb(134, 138, 155);
}

#skills .left-skills button {
    background-color: #000;
    padding: 20px 50px;
    transition: all 0.2s ease-in-out;
}

#skills .left-skills button:hover {
    background-color: #666;
}

#skills .left-skills p {
    margin-bottom: 40px;
}

#skills .left-skills h2 {
    font-weight: 700;
    color: #000;
    font-size: 35px;
    line-height: 46px;
    margin-bottom: 30px;
}

#skills .rigth-skills ul {
    padding: 20px 40px 0px;
}

#skills li span:nth-child(2) {
    color: #000;
}

#skills li span:nth-child(1) {
    margin-right: 90px;
    color: rgb(134, 138, 155);
}

#skills li:nth-child(1) span {
    color: rgb(134, 138, 155);
}

#skills li span {
    line-height: 27px;
}

/* ----------------------------------------------------end section 2 words and acordion */
/* -- */
/* -- */
/* ----------------------------------------------------start section 3 Quality Services // 3 divs */
#Quality-Services .head-sec span {
    line-height: 27px;
}

#Quality-Services .head-sec h2 {
    margin-bottom: 0;
}

#Quality-Services .home-svg {
    width: 53px !important;
    margin-bottom: 20px;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

#Quality-Services .my-card {
    padding: 65px 25px;
    font-family: "Syne", sans-serif;
}

#Quality-Services .my-card:hover .home-svg {
    opacity: 1;
}

#Quality-Services .my-card h2 {

    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    color: #000;
    margin-bottom: 30px;
}

#Quality-Services .my-card p {
    line-height: 27px;
    color: rgb(134, 138, 155);
    margin-bottom: 5px;
}

#Quality-Services .my-card ul {
    margin-top: 30px;
}

#Quality-Services .my-card li::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 100%;
    left: -20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

/* ----------------------------------------------------end section 3 Quality Services // 3 divs */
/* -- */
/* -- */
/* ----------------------------------------------------start section 4 carousel //some photos */
#carouselSec img {
    transition: all 0.3s ease-in-out;
}

#carouselSec img:hover {
    transform: scale(1.1);
}

#carouselSec .PreviousNextbuttons {
    height: 40px;
}

#carouselSec .carousel-item {
    width: 282px;
    height: 282px;
    overflow: hidden !important;
}

#carouselSec .carousel-control-prev {
    right: 50px;
    left: auto;
}

/* ----------------------------------------------------end section 4 carousel //some photos */
/* -- */
/* -- */
/* --------------------------------------------------------start section 5 // timeline // 2divs */

#Timeline .headtime {
    background-color: #EAEAEA;
    padding: 25px 40px;
    margin-bottom: 30px;
}

#Timeline .headtime p {
    line-height: 22px;
    font-size: 17px;
    color: #000;
    font-weight: 700;
    margin-bottom: 0 !important;
    text-transform: uppercase;
}

#Timeline .contaent {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px 35px 35px;
    border-left: 5px solid rgba(0, 0, 0, .1);
    margin-bottom: 10px;
}

#Timeline .date-content p {
    padding: 10px 20px;
    background-color: white;
    width: min-content;
}

#Timeline .contaent span {
    line-height: 21px;
    font-weight: 700;
    color: #000;
}

#Timeline .contaent p {
    line-height: 27px;
    color: rgb(134, 138, 155);
}

/* --------------------------------------------------------end section 5 // timeline // 2divs */
/* -- */
/* -- */
/* --------------------------------------------------------start section 6 // feedback // just a comment */

#Feedback .img-home {
    width: 60px !important;
    height: 60px !important;
    border-radius: 100% !important;
    align-items: center;
    object-fit: cover;
}

#Feedback .head-feedback span {
    line-height: 22px;
    font-size: 17px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

#Feedback p {
    line-height: 27px;
    color: rgb(134, 138, 155);
}

#Feedback .head-feedback {
    background-color: #eaeaea;
    padding: 25px 40px;
}

#Feedback .stars-container {
    margin-bottom: 20px;
}

#Feedback .content-feedback {
    background-color: #FFFFFF;
    padding: 40px 40px 60px;
}

#Feedback .content-feedback .with-bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    scale: 3.7;
    background-image: url("/assets/images/2Idivs.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 10px;
    left: 34%;
    opacity: 0.1;
    /* z-index: -3; */
    /* margin-left: auto; */
}

/* --------------------------------------------------------end section 6 // feedback // just a comment */
/* -- */
/* -- */
/* --------------------------------------------------------start section 7 // blog //3divs with images */
#Blog .content-blog span {
    line-height: 27px;
    color: rgb(134, 138, 155);
}

#Blog .content-blog a {
    color: #000;
    cursor: pointer;
}

#Blog .content-blog ul {
    background-color: #eaeaea;
    padding: 15px 30px;
}

#Blog .content-blog div {
    padding: 30px;
    background-color: #F5F5F5;
}

#Blog .img-blog img {
    transition: all 0.3s ease-in-out;
}

#Blog .img-blog:hover img {
    transform: scale(1.1);
}

#Blog .img-label {
    z-index: 1;
    top: 20px;
    left: 20px;
    background-color: #fff;
    padding: 5px 20px;
    color: #868a9b;
}

#Blog .content-blog p {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: rgb(0, 0, 0);
}

#Blog .content-blog li:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, .15);
    right: -18px;
    top: 10px;
    bottom: 0;
    border-radius: 100%;
}

/* --------------------------------------------------------end section 7 // blog //3divs with images */
/* -- */
/* -- */
/* ----------------------------------------------------------start section 8 // contact us // acrdion */
#Contact {
    line-height: 27px;
}

#Contact .accordion-body {
    padding: 40px;
    Color: rgb(134, 138, 155);

}

#Contact .links span {
    cursor: pointer;
}

#Contact .home-map div {
    height: 350px !important;
}

#collapseOneel li span:nth-child(1) {
    margin-right: 90px;
}

/* ----------------------------------------------------------end section 8 // contact us // acrdion */
/* -- */
/* -- */
/* --------------------------------------------------------start footer */
footer {
    background-color: #333333;
    font-family: "Syne", sans-serif;
    line-height: 27px;
    padding: 45px 0;
}

footer .footer-img {
    max-width: 140px;
    max-height: 70px;
}

/* --------------------------------------------------------end footer */
/* -- */
/* -- */
/* ----------------------------------------------------------start totop div */
#animatedDiv {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    background-color: #3498db;
    width: 1px;
    transition: width 0.5s ease;
}

/* ----------------------------------------------------------end totop div */
/* -- */
/* -- */
/* ----------------------------------------------------start opening div // starting div */
.home-start {
    background-color: transparent;
    animation: opacityy 3s ease-in-out !important;
}

.center-opening {
    height: 0%;
    width: 2px;
    animation: starting 3s ease-in-out;
}

.openingleft {
    animation: translateL 0.7s ease-in-out 2.4s;
    z-index: 1;
    width: 0%;

}

.openingright {
    animation: translateR 0.7s ease-in-out 2.4s;
    z-index: 1;
    width: 0%;
}

/* ----------------------------------------------------end opening div // starting div */
/* -- */
/* -- */
/* --------start animatoins */
/* - */
/* --------start navbar button animations */
@keyframes rotate-right {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes rotate-left {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}

/* --------end navbar button animations */
/* - */
/*  ------- start starting div animatoin */
@keyframes starting {
    0% {
        height: 0%;
    }

    70% {
        height: 35%;
    }

    80% {
        opacity: 0.8;
        width: 1px;
    }

    99% {
        height: 100%;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opacityy {
    0% {
        background-color: #000;
        z-index: 999;
    }

    80% {
        background-color: #000;
    }

    99% {
        z-index: 999;
    }

    100% {
        background-color: transparent;
        z-index: -3 !important;
    }
}

@keyframes translateR {
    0% {
        width: 49.8%;
    }

    10% {
        transform: translateX(0);
        width: 49.8%;
    }

    100% {
        transform: translateX(100%);
        width: 0%;
    }
}

@keyframes translateL {
    0% {
        width: 49.8%;
    }

    10% {
        transform: translateX(0);
        width: 49.8%;
    }

    100% {
        transform: translateX(-100%);
        width: 0%;
    }
}

/*  ------- end starting div animatoin */
/* - */
/* --------end animatoins */
/* -- */
/* -- */
/* ----------------------------------------------------start reponsive for all */

@media screen and (max-width: 1260px) {}

@media screen and (max-width: 1199) {
    header {
        border-bottom: #000 1px solid;
    }

    #Quality-Services .my-card {
        padding: 45px 25px;
    }
}

@media screen and (max-width: 1040px) {

    /* navbar-- */
    nav .navbar-brandd {
        margin-bottom: 1rem;
    }

    .navbar-toggler,
    .brandd-home {
        align-self: self-start;
    }

    .brandd-home img {
        width: 90px !important;
    }
    nav {
        padding: 10px 0 !important;
    }
    /* navbar----------- end */
}

@media screen and (max-width: 992px) {
    #Quality-Services .my-card {
        padding: 40px 25px;
    }
    #home .home-img {
        width: 280px;
    }
    #home .f-home-img {
        margin-top: 70px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 570px) {
    .navbar-brandd {
        margin-left: 1rem !important;
    }

}

/* ----------------------------------------------------end reponsive for all */